var Asset = function(index) {
  this.asset_index = index;
}

var Uploader = function (element) {
  this.Asset          = Asset;
  this.assets         = [];
  // this.status         = "ok";
  // this.data           = {};
  // this.mountPoint     = mountPoint;
  this.element        = element;
  this.assetable_id   = element.getAttribute("data-assetable-id");
  this.assetable_type = element.getAttribute("data-assetable-type");
  // this.getAssets();
  this.setupAssetList();
  this.setupButtons();
  element.setAttribute("data-instantiated", "true");
};

// Uploader.prototype.getAssets = function() {
//   var xhReq = new XMLHttpRequest();
//   xhReq.onreadystatechange = this.handleReadyStateChange.bind(this, xhReq);
//   xhReq.open("GET", this.mountPoint+"/assets.json", true);
//   this.status = "loading";
//   xhReq.send();
// };

Uploader.prototype.setupAssetList = function() {
  var list = this.element.querySelector("section ul");
  var fileFields = list.querySelectorAll('input[type="file"]');
  for (var i = 0; i < fileFields.length; i++) {
    var fileField = fileFields[i];
    var assetId   = fileField.getAttribute('id').split('_')[3];
    this.assets.push(new this.Asset(assetId));
  }
};

Uploader.prototype.setupButtons = function() {
  var button = this.element.querySelector("button");
  button.onclick = this.addAsset.bind(this);
};

Uploader.prototype.addAsset = function(e) {
  e.preventDefault();
  var list = this.element.querySelector("section ul");
  var newAsset = new this.Asset(this.assets.length);
  this.assets.push(newAsset);
  var tag = this.createTagForAsset(newAsset);
  list.appendChild(tag);
};

Uploader.prototype.createTagForAsset = function(asset) {
  var fileInput = document.createElement("input");
  fileInput.type = "file";

  fileInput.setAttribute('id', this.assetable_type.toLowerCase()+"_assets_attributes_"+asset.asset_index+"_file");
  fileInput.setAttribute('name', this.assetable_type.toLowerCase()+"[assets_attributes]["+asset.asset_index+"][file]");

  var hiddenInput = document.createElement("input");
  hiddenInput.type = "hidden";
  hiddenInput.setAttribute('id', this.assetable_type.toLowerCase()+"_assets_attributes_"+asset.asset_index+"_id");
  hiddenInput.setAttribute('name', this.assetable_type.toLowerCase()+"[assets_attributes]["+asset.asset_index+"][id]");

  var listItem = document.createElement("li");
  listItem.appendChild(fileInput);
  listItem.appendChild(hiddenInput);

  return listItem;
};

// Uploader.prototype.handleReadyStateChange = function(xhReq) {
//   if (xhReq.readyState === xhReq.DONE) {
//     if(xhReq.status == 200){
//       this.data = JSON.parse(xhReq.responseText);
//       this.status = "ok";
//     }
//     else if(xhReq.status == 400) {
//       this.status = "error";
//     }
//     else {
//       this.status = "error";
//     }
//     this.setupView();
//   }
// };

// Uploader.prototype.setupView = function() {
//   var section = this.element.querySelector("section");
//   if (this.data['assets'] && this.data['assets'].length) {
//     section.innerHTML = "<h2>Assets</h2>";
//   } else {
//     section.innerHTML = "<h2>No Assets exist for this "+this.assetable_type+".</h2>";
//   }

// };

(function (global) {
  // TODO - Pass this in?
  // this.mountPoint = "/herd";
  this.uploaders = [];
  this.Uploader = Uploader;
  this.createUploader = function(element) {
    this.uploaders.push(new this.Uploader(element));
  };
  global.Herd = this;
}(window));




// <input type="file" name="comment[assets_attributes][0][file]" id="comment_assets_attributes_0_file">
// <input type="hidden" value="25" name="comment[assets_attributes][0][id]" id="comment_assets_attributes_0_id">