/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.herd-wrap {

}
.herd-wrap .transform-list {
  color: pink;
}

/*.asset-container video {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden
}*/
