<!DOCTYPE html>
<html>
<head>
  <title>Herd</title>
  <%= stylesheet_link_tag    "herd/application", media: "all" %>
  <%= javascript_include_tag "herd/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="herd-uploader">
    <%= yield %>
  </div>
</body>
</html>
