<herd-uploader data-assetable-id="<%= assetable.id %>" data-assetable-type="<%= assetable.class.to_s %>" data-instantiated="false">
  <header>
    <h1>Assets</h1>
  </header>
  <section>

    <ul>
      <%= form.fields_for :assets do |a| %>
        <li>
          <%= a.file_field :file %>
          <%= a.check_box :_destroy %>
          <%= a.label :_destroy, "Remove Asset" %>
        </li>
      <% end %>
    </ul>

  </section>
  <button>
    + Add Asset
  </button>
</herd-uploader>

<script>
  var newUploaderTags = document.querySelectorAll('herd-uploader[data-instantiated="false"]');
  for (var i = 0; i < newUploaderTags.length; i++) {
    var element = newUploaderTags[i];
    window.Herd.createUploader(element);
  }
</script>